## Session 2:

#### Problem Statement: 1

#### You are tasked with developing a simple student record management system using SQLite3 in Python. The system should perform the following operations:

Requirements:

Create a SQLite database named school.db with a table students having fields:

    id (INTEGER, Primary Key, Auto-increment)
    name (TEXT)
    age (INTEGER)
    grade (TEXT)

- Insert at least three student records into the table using parameterized queries.
- Fetch and print all student records.
- Update the grade of a specific student based on their name.
- Delete a student record based on the id.
- Display the remaining students and the total number of students.
- Finalize and close the connection

Deliverables:

- Python code with all the required database operations.
- Clear output showing the operations performed.
- Use of best practices: parameterized queries, commit(), and close().

In [16]:
import sqlite3
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

In [17]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT
)
''')

In [3]:
students_to_insert = [
    ('Alice', 14, '8th'),
    ('Bob', 15, '9th'),
    ('Charlie', 13, '7th')
]

In [4]:
cursor.executemany('INSERT INTO students (name, age, grade) VALUES (?, ?, ?)', students_to_insert)

In [14]:
cursor.execute('SELECT * FROM students')
cursor.fetchall()

[(1, 'Alice', 14, '8th'), (2, 'Bob', 15, '10th')]

In [ ]:
cursor.execute('UPDATE students SET grade = ? WHERE name = ?', ('10th', 'Bob'))

In [8]:
cursor.execute("DELETE FROM students WHERE name = ?", ("Charlie",))

In [19]:
# Count the number of employees
cursor.execute("SELECT COUNT(*) FROM students")
count = cursor.fetchone()[0] 
print(f"Total number of employees: {count}\n")

Total number of employees: 2

In [9]:
cursor.execute('''
    SELECT * FROM students
''')
cursor.fetchall()

[(1, 'Alice', 14, '8th'), (2, 'Bob', 15, '10th')]

In [10]:
conn.commit()
conn.close()