## Session #1:

#### Task: Insert "Grapes" between "Banana" and "Cherry".

In [2]:
basket = ["Apple", "Banana", "Cherry", "Mango"]  
basket.insert(2, "Grapes")
print(basket)

['Apple', 'Banana', 'Grapes', 'Cherry', 'Mango']

#### Task: Change 40 to 45 inside the nested list. data = [10, 20, [30, 40, 50], 60, 70]

In [3]:
data = [10, 20, [30, 40, 50], 60, 70]  
data[2][1]= 45
print(data)

[10, 20, [30, 45, 50], 60, 70]

#### Task: Extract [9, 12, 15] and reverse it.  nums = [3, 6, 9, 12, 15, 18, 21]

In [8]:
nums =  [3, 6, 9, 12, 15, 18, 21]
extract_list = nums[2:5]
extract=extract_list[::-1]
print(extract)

[15, 12, 9]

### Task: Remove all occurrences of 5 from numbers. numbers = [5, 3, 8, 5, 10, 5, 12, 5]

In [8]:
numbers = [5, 3, 8, 5, 10, 5, 12, 5]
result = []

for num in numbers:
    if num != 5:
        result.append(num)
print(result)

[3, 8, 10, 12]

#### Task: Merge list1 and list2, then sort the combined list.  list1 = [8, 3, 1, 7] list2 = [4, 9, 2, 6]

In [10]:
list1 = [8, 3, 1, 7]
list2 = [4, 9, 2, 6]

combined = list1 + list2
combined.sort()

print(combined)

[1, 2, 3, 4, 6, 7, 8, 9]

#### Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.colors = ("Red", "Green", "Blue", "Yellow")

In [17]:
colors = ("Red", "Green", "Blue", "Yellow")
colors_list = list(colors)
index = colors_list.index("Green")
colors_list[index] = "Cyan"
colors = tuple(colors_list)
print(colors)

('Red', 'Cyan', 'Blue', 'Yellow')

#### Task: Find the index of "Charlie".  names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [19]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]
index = names.index("Charlie")
print(index)

2

#### Task: Count how many times 4 appears in nums_tuple. nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)

In [20]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)
print(nums_tuple.count(4))

4

#### Task: Swap the first and last elements.  values = [10, 20, 30, 40, 50]

In [22]:
values = [10, 20, 30, 40, 50]
values[0],values[-1] = values[-1], values[0]
print(values)

[50, 20, 30, 40, 10]

#### Task: Generate a list of squares for numbers from 1 to 10. values = []

In [31]:
values = []

values = [value**2 for value in range(1,11)]

print(values)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Task: Reverse my_tuple without converting it to a list. my_tuple = (1, 2, 3, 4, 5)

In [35]:
my_tuple = (1, 2, 3, 4, 5)
reverse = my_tuple[::-1]
print(reverse)

(5, 4, 3, 2, 1)

#### Task: Find the maximum and minimum values in data.  data = [23, 45, 67, 12, 89, 34]

In [38]:
data = [23, 45, 67, 12, 89, 34]
max_value = data[0]
min_value = data[0]

for num in data:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print(max_value)
print(min_value)

89
12

#### Task: Extract every second element from nums.  nums = [10, 20, 30, 40, 50, 60, 70]

In [40]:
nums = [10, 20, 30, 40, 50, 60, 70]
second_elements = nums[1::2]
print(second_elements)

[20, 40, 60]

### Task: Convert nested_list into a single flat list. nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_lists = []
for list in nested_list:
    for flat_list in list:
        flat_lists.append(flat_list)
print(flat_lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Task: Find common elements between list_a and list_b.  list_a = [1, 2, 3, 4, 5, 6] list_b = [4, 5, 6, 7, 8, 9]

In [48]:
list_a = [1, 2, 3, 4, 5, 6]
list_b = [4, 5, 6, 7, 8, 9] 

common = []
for item in list_a:
    if item in list_b:
        common.append(item)
print(common)

[4, 5, 6]

#### Task: Sort scores in descending order. scores = [78, 55, 92, 30, 88, 62]

In [50]:
scores = [78, 55, 92, 30, 88, 62]
scores.sort(reverse = True)
print(scores)

[92, 88, 78, 62, 55, 30]

#### Task: Repeat my_tuple three times and store the result. my_tuple = (1, 2, 3)

In [52]:
my_tuple = (1, 2, 3)
my_tuple = my_tuple*3
print(my_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### Task: Remove duplicates while keeping the order. numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

In [56]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_numbers = []

for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

#### Task: Insert "Amazing" at index 2.words = ["Hello", "World", "Python", "Programming"]

In [57]:
words = ["Hello", "World", "Python", "Programming"]
words.insert(2,"Amazing")
print(words)

['Hello', 'World', 'Amazing', 'Python', 'Programming']

### Task: Convert pairs into a dictionary. pairs = [("a", 1), ("b", 2), ("c", 3)]

In [58]:
pairs = [("a", 1), ("b", 2), ("c", 3)]  
mydict = dict(pairs)
print(mydict)

{'a': 1, 'b': 2, 'c': 3}

## Session #2

#### Task: Use a for loop to calculate the sum of all elements in nums. nums = [1, 2, 3, 4, 5]

In [60]:
nums = [1, 2, 3, 4, 5]
Total = 0 
for num in nums:
    Total += num
print(Total)

15

#### Task: Use a while loop to print numbers from count down to 1. count = 5

In [63]:
count = 5

while count >= 1:
    count -= 1
    print(count)

4
3
2
1
0

### Task: Use a for loop to print each fruit in uppercase. fruits = ["Apple", "Banana", "Cherry", "Mango"]

In [64]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]

for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY
MANGO

#### Task: Use a while loop to print squares of numbers from 1 to 10. num = 1

In [66]:
num = 1

while num <= 10:
    print(num ** 2)
    num += 1

1
4
9
16
25
36
49
64
81
100

#### Task: Use a for loop to count how many times 'o' appears in sentence. sentence = "Python is fun"

In [72]:
sentence = "Python is fun"
count = 0
for char in sentence:
    if char in "o":
        count += 1        
print(count)

2

### Task: Use a while loop to print even numbers from 10 to 2 in reverse order. num = 10

In [2]:
number = 10

while number >= 2:
    if number % 2 == 0:
        print(number)
    number -= 1

10
8
6
4
2

#### matrix = [[1, 2], [3, 4], [5, 6]] Task: Use nested for loops to print all elements in matrix.

In [6]:
matrix = [[1, 2], [3, 4], [5, 6]]
for elements in matrix:
    for element in elements:
        print(element, end=" ")
    print()

1 2
3 4
5 6

#### num = 7  Task: Use a while loop to find the factorial of num.

In [7]:
num = 7
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print(factorial)

5040

#### Task: Use a for loop to print only the numbers divisible by 3.  numbers = [3, 9, 12, 18, 21, 25]

In [10]:
numbers = [3, 9, 12, 18, 21, 25]

for n in numbers:
    if n % 3 == 0:
        print(n)

3
9
12
18
21

## Session #3

#### Count Word Frequency in a Sentence 
#### Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [11]:
sentence = "apple banana apple orange banana apple"
words = sentence.split()
word_freq = {}
for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else: 
        word_freq[word] = 1
print(word_freq)

{'apple': 3, 'banana': 2, 'orange': 1}

#### Find Unique Elements in Two Lists Using Sets  
#### Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}

In [13]:
list1 = {1, 2, 3, 4}
list2 = {3, 4, 5, 6}

unique_list1 = list1 - list2
unique_list2 = list2 - list1

print(unique_list1)
print(unique_list2)

{1, 2}
{5, 6}

#### Merge Two Dictionaries  
#### Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}

In [26]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}

merged_dict = dict1.copy()
for key,value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print(merged_dict)

{'a': 10, 'b': 50, 'c': 40}

#### Find the Intersection of Two Sets  
#### Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}

In [27]:
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  

common_elements = set1 & set2
print(common_elements)

{3, 4}

#### Find the Most Frequent Element in a List  
#### Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)

In [32]:
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  

freq = {}
for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

most_freq = None
highest_count = 0
for key in freq:
    if freq[key] > highest_count:
        highest_count = freq[key]
        most_freq = key

print(f"Most frequent: {most_freq} (appears {highest_count})")

Most frequent: 3 (appears 4)

#### Remove Duplicates from a List Using Sets  
#### Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6]

In [33]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]

unique_list = []

for item in lst:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 2, 3, 4, 5, 6]

#### Find Students Who Enrolled in Both Courses  
#### Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}

In [35]:
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  

both_course = course_A & course_B

print(both_course)

{'Bob', 'Charlie'}

#### Find the Union of Multiple Sets  
#### Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

union = set1 | set2 | set3

print(union)

{1, 2, 3, 4, 5, 6, 7}

#### Reverse a Dictionary (Keys Become Values, Values Become Keys)  
#### Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}

In [49]:
original_dict = {'a': 1, 'b': 2, 'c': 3}  

reversed_dic = {}

for swap_dic in original_dict:
    value = original_dict[swap_dic]
    reversed_dic[value] = swap_dic

print(reversed_dic)

{1: 'a', 2: 'b', 3: 'c'}

#### Check If Two Words Are Anagrams Using Dictionaries  
#### Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)

In [64]:
word1 = "listen"
word2 = "silent"

# First, check if the lengths are the same
if len(word1) != len(word2):
    print(False)
else:
    freq1 = {}
    freq2 = {}

    for char in word1:
        if char in freq1:
            freq1[char] += 1
        else:
            freq1[char] = 1

    for char in word2:
        if char in freq2:
            freq2[char] += 1
        else:
            freq2[char] = 1
    if freq1 == freq2:
        print(True)
    else:
        print(False)

True